*.uvproj
*.xls
Lab15Files/
Doxygen/
*.crf
*.d
*.o
*.iex
*.bak
*.dep
*.uvproj
*.uvopt
*.uvgui.*
*.uvgui
*.tra
*.plg
*.s
*.lst
*.map
*.lnp
*.htm
*.axf
*.uvgui
TExaS.*
test
*.exe
t.out
t/.nosan
t/.use-gcc
t/.opt
.makedepend.log
t/.gdb_history
t/_*
t/testsingle.c
t/testsingle
t/*-sound.dump*
